@model IEnumerable<MelodyMusicLibrary.Models.Genre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a shared layout file
}


<div class="container mt-5">
    <div class="row mb-4 d-flex align-items-center justify-content-between">
        <div class="col d-inline-flex justify-content-md-start">
            <h1 class="table-title">Genres</h1>
            <div style="margin-left:1rem; align-content:center;">
                <a asp-action="Create" class="rounded-pill btn btn-outline-warning">+</a>
            </div>
        </div>
@*         <div class="col-5">
            <form asp-controller="Genres" asp-action="Index" method="get" class="d-inline-flex justify-content-center align-items-center">
                <div class="form-group mr-2">
                    <input type="text" asp-for="Name" placeholder="Search by Name" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div> *@

    <table class="table table-dark table-hover custom-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm rounded-pill px-3 py-2">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm rounded-pill px-3 py-2 ml-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm rounded-pill px-3 py-2 ml-1">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-example-basic-multiple").select2();
        });
    </script>
}
