@model IEnumerable<MelodyMusicLibrary.ViewModels.SongViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/song.css" asp-append-version="true" />

<div class="container mt-5">
    <div class="row mb-4 d-flex align-items-center justify-content-between">
        <div class="col d-inline-flex justify-content-md-start">
            <h1 class="table-title">Songs</h1>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div style="margin-left:1rem; align-content:center;">
                    <a asp-action="Create" class="rounded-pill btn btn-outline-warning">+</a>
                </div>
            }
        </div>
    </div>

    <table class="table table-dark table-hover custom-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Album</th>
                <th>Artists</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Minutes)</td>
                    <td>@Html.DisplayFor(modelItem => item.AlbumTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.ArtistNames)</td>
                    <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm rounded-pill px-3 py-2">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm rounded-pill px-3 py-2 ml-1">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm rounded-pill px-3 py-2 ml-1">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-example-basic-multiple").select2();
        });
    </script>
}
