@model MelodyMusicLibrary.Models.Artist

@{
    ViewData["Title"] = "Artist Details";
}

<div class="container mt-5">
    <h1 class="table-title">Artist Details</h1>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <img src="~/images/artists/@(Model.Name).png" alt="Artist Image" class="bg-dark text-white" />
            </div>
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success rounded-pill px-3 py-2">Edit</a>
                <a asp-action="Index" class="btn btn-outline-secondary rounded-pill px-3 py-2">Back to List</a>
            </div>
        </div>
    </div>
</div>
